<% include common/header.ejs %>

<div class="main-container conteiner-fluid">
    <div class="row-main">
        <% include common/left_panel_order.ejs %>
        <% include common/right_panel.ejs %>
    </div>
</div>


<% include common/footer.ejs %>