<div class="left-panel">
    <div class="page-title">
        <h2>
            <span class="count-title">Усі піци</span>
            <span class="badge orange pizza-count">8</span>
        </h2>
    </div>
    <ul class="pizza-types">
        <li class="btn btn-active pizza-filter" data-type="all" data-title-pizza="Усі піци">Усі</li>
        <li class="btn btn-not-active pizza-filter" data-type="М’ясна піца" data-title-pizza="М'ясні піци">М'ясні</li>
        <li class="btn btn-not-active pizza-filter" data-type="pineapple" data-title-pizza="Піци з ананасами">З
            ананасами
        </li>
        <li class="btn btn-not-active pizza-filter" data-type="mushroom" data-title-pizza="Піци з грибами">З грибами
        </li>
        <li class="btn btn-not-active pizza-filter" data-type="Морська піца" data-title-pizza="Піца з морепродуктами">З
            морепродуктами
        </li>
        <li class="btn btn-not-active pizza-filter" data-type="Вега піца" data-title-pizza="Вегетеріанська піца">Вега
        </li>
    </ul>
    <div class="row" id="pizza_list">
    </div>
</div>