<div class="right-panel">
    <div class="right-top-panel" style="display: block">
        <div class="order-list-title">
            <r1 style="float: left">Замовлення&nbsp</r1>
            <span class="badge orange orders-count-span" style="float: left">0</span>
            <span class="clear-order-wrap">Очистити замовлення</span>
        </div>
    </div>
    <div class="right-main-panel" id="cart" style="display: block"></div>
    <div class="right-bottom-panel" style="display: block">
        <span class="sum-label">Сума замовлення</span>
        <span class="sum-number">0 грн.</span>

        <!--<span class="sum-label">грн.</span>-->
        <div class="do-order-button">
            <a href="http://localhost:5050/" class="back-order-button">
                <button class="btn btn-default btn-back-order">Редагувати замовлення</button>
            </a>
        </div>
    </div>

</div>